# Ignore data folders and their contents
data/ 
data/*

# Ignore trained model files
models/
*.pth
*.pkl

# Python cache
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
